basePath: /api
definitions:
  models.Image:
    properties:
      id:
        type: string
      url:
        type: string
    type: object
  models.Instruction:
    properties:
      name:
        type: string
      text:
        type: string
      type:
        type: string
    type: object
  models.RecipeRevision:
    properties:
      author:
        $ref: '#/definitions/models.UserSummary'
      createdDate:
        type: string
      id:
        type: string
      images:
        items:
          $ref: '#/definitions/models.Image'
        type: array
      instructions:
        items:
          $ref: '#/definitions/models.Instruction'
        type: array
      name:
        type: string
      recipeId:
        type: string
      updatedDate:
        type: string
    type: object
  models.UserSummary:
    properties:
      displayName:
        type: string
      id:
        type: string
      username:
        type: string
    type: object
host: local.4ks.io
info:
  contact: {}
  description: This is the 4ks api
  title: 4ks API
  version: "1.0"
paths:
  /recipes/{recipeId}/revisions:
    get:
      consumes:
      - application/json
      description: Get all revisions for a recipe
      parameters:
      - description: Recipe Id
        in: path
        name: recipeId
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/models.RecipeRevision'
            type: array
      summary: Get all revisions for a recipe
      tags:
      - Recipes
  /recipes/revisions/{revisionId}:
    get:
      consumes:
      - application/json
      description: Get a Revision By Id
      parameters:
      - description: Revision Id
        in: path
        name: revisionId
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.RecipeRevision'
      summary: Get a Recipe Revision
      tags:
      - Recipes
swagger: "2.0"
